<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="">
        <title>404 Error</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <center>
                <h1 id="error">404 Error </h1>
                <p>Reload Page and Try searching again</p>
            </center>
        </div>
        {{>footer}}
    </body>
</html>