<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <table>
                <tr>
                    <td>
                        <img id="profile-pic" src="/img/profile_pic.JPG">
                    </td>
                    <td class="about-content">
                        <p>Hiee all , I am Nayanika Kadimisetty and expected i would be so excited to create my actually working application from scratch. This is the very first application that i have made during my Quarantine holidays and of course i am super excited to launch this to public.Ok enough of the blabbering , i am a computer science student studying at Anil Neerukonda Institute of Technolgy and Sciences currently 3rd Year at Visakhapatnam.This application is based on Makeup where one can search products based on their requirements which makes their task of searching easy.I have provided many options for searching every basic product.And yeah this is about me and the application that i have created.A small note : Please do not read the content below as its just a Lorem Ipsum language added so that the page could appear more meaningfull. <3 </p>
                    </td>
                </tr>
            </table>
            <p class="about-content-2">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                    <p class="about-content-2">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
        </div>
        {{>footer}}
    </body>
</html>