<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
		<title>Makex</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>Welcome To My very first application</h2>
            <table>
                <tr>
                    <td>
                        <img id="question-img"src="/img/questionMark.png">
                    </td>
                    <td>
                        <p>
                            Stuck among many Different products?? And Donno what to buy?
                        </p>
                        <p>
                            We Provide Details of every MakeUp product to make your lives easier
                        </p>
                        <p>
                            Just a single click to us and tons of information to You..Hurry and search for what you need..!!
                        </p>
                    </td>
                </tr>
            </table>
            <h3>Search for Brands like....</h3>
            <p>
                <div class="tag">
				<h4>almay</h4>
			</div>
			<div class="tag">
				<h4>alva</h4>
			</div>
			<div class="tag">
				<h4>anna sui</h4>
			</div>
			<div class="tag">
				<h4>annabelle</h4>
			</div>
			<div class="tag">
				<h4>benefit</h4>
			</div>
			<div class="tag">
				<h4>boosh</h4>
			</div>
			<div class="tag">
				<h4>burt&#39;s bees</h4>
			</div>
			<div class="tag">
				<h4>butter london</h4>
			</div>
			<div class="tag">
				<h4>c&#39;est moi</h4>
			</div>
			<div class="tag">
				<h4>cargo cosmetics</h4>
			</div>
			<div class="tag">
				<h4>china glaze</h4>
			</div>
			<div class="tag">
				<h4>clinique</h4>
			</div>
			<div class="tag">
				<h4>coastal classic creation</h4>
			</div>
			<div class="tag">
				<h4>colourpop</h4>
			</div>
			<div class="tag">
				<h4>covergirl</h4>
			</div>
			<div class="tag">
				<h4>dalish</h4>
			</div>
			<div class="tag">
				<h4>deciem</h4>
			</div>
			<div class="tag">
				<h4>dior</h4>
			</div>
			<div class="tag">
				<h4>dr. hauschka</h4>
			</div>
			<div class="tag">
				<h4>e.l.f.</h4>
			</div>
			<div class="tag">
				<h4>essie</h4>
			</div>
			<div class="tag">
				<h4>fenty</h4>
			</div>
			<div class="tag">
				<h4>glossier</h4>
			</div>
			<div class="tag">
				<h4>green people</h4>
			</div>
			<div class="tag">
				<h4>iman</h4>
			</div>
			<div class="tag">
				<h4>l&#39;oreal</h4>
			</div>
			<div class="tag">
				<h4>lotus cosmetics usa</h4>
			</div>
			<div class="tag">
				<h4>maia&#39;s mineral galaxy</h4>
			</div>
			<div class="tag">
				<h4>marcelle</h4>
			</div>
			<div class="tag">
				<h4>marienatie</h4>
			</div>
			<div class="tag">
				<h4>maybelline</h4>
			</div>
			<div class="tag">
				<h4>milani</h4>
			</div>
			<div class="tag">
				<h4>mineral fusion</h4>
			</div>
			<div class="tag">
				<h4>misa</h4>
			</div>
			<div class="tag">
				<h4>mistura</h4>
			</div>
			<div class="tag">
				<h4>moov</h4>
			</div>
			<div class="tag">
				<h4>nudus</h4>
			</div>
			<div class="tag">
				<h4>nyx</h4>
			</div>
			<div class="tag">
				<h4>orly</h4>
			</div>
			<div class="tag">
				<h4>pacifica</h4>
			</div>
			<div class="tag">
				<h4>penny lane organics</h4>
			</div>
			<div class="tag">
				<h4>physicians formula</h4>
			</div>
			<div class="tag">
				<h4>piggy paint</h4>
			</div>
			<div class="tag">
				<h4>pure anada</h4>
			</div>
			<div class="tag">
				<h4>rejuva minerals</h4>
			</div>
			<div class="tag">
				<h4>revlon</h4>
			</div>
			<div class="tag">
				<h4>sally b&#39;s skin yummies</h4>
			</div>
			<div class="tag">
				<h4>salon perfect</h4>
			</div>
			<div class="tag">
				<h4>sante</h4>
			</div>
			<div class="tag">
				<h4>sinful colours</h4>
			</div>
			<div class="tag">
				<h4>smashbox</h4>
			</div>
			<div class="tag">
				<h4>stila</h4>
			</div>
			<div class="tag">
				<h4>suncoat</h4>
			</div>
			<div class="tag">
				<h4>w3llpeople</h4>
			</div>
			<div class="tag">
				<h4>wet n wild</h4>
			</div>
			<div class="tag">
				<h4>zorah</h4>
			</div>
			<div class="tag">
				<h4>zorah biocosmetiques</h4>
			</div>
            </p>
            <h3>Search for products like....</h3>
        <p>
            <div class="tag">
				<h4>Blush</h4>
			</div>
            <div class="tag">
				<h4>Bronzer</h4>
			</div>
            <div class="tag">
				<h4>Eye Brow</h4>
			</div>
            <div class="tag">
				<h4>Eye Liner</h4>
			</div>
            <div class="tag">
				<h4>Eye Shadow</h4>
			</div>
            <div class="tag">
				<h4>Foundation</h4>
			</div>
            <div class="tag">
				<h4>Lip Liner</h4>
			</div>
            <div class="tag">
				<h4>Lipstick</h4>
			</div>
            <div class="tag">
				<h4>Mascara</h4>
			</div>
            <div class="tag">
				<h4>NailPolish</h4>
			</div>
        </p>
		<h3>Use some interesting tags to make your search more accurate!!</h3>
		<p>
			<div class="tag">
				<h4>Canadian</h4>
			</div>
			<div class="tag">
				<h4>CertClean</h4>
			</div>
			<div class="tag">
				<h4>Chemical Free</h4>
			</div>
			<div class="tag">
				<h4>Dairy Free</h4>
			</div>
			<div class="tag">
				<h4>EWG Verified</h4>
			</div>
			<div class="tag">
				<h4>EcoCert</h4>
			</div>
			<div class="tag">
				<h4>Fair Trade</h4>
			</div>
			<div class="tag">
				<h4>Gluten Free</h4>
			</div>
			<div class="tag">
				<h4>Hypoallergenic</h4>
			</div>
			<div class="tag">
				<h4>Natural</h4>
			</div>
			<div class="tag">
				<h4>No Talc</h4>
			</div>
			<div class="tag">
				<h4>Non-GMO</h4>
			</div>
			<div class="tag">
				<h4>Organic</h4>
			</div>
			<div class="tag">
				<h4>Peanut Free Product</h4>
			</div>
			<div class="tag">
				<h4>Sugar Free</h4>
			</div>
			<div class="tag">
				<h4>USDA Organic</h4>
			</div>
			<div class="tag">
				<h4>Vegan</h4>
			</div>
			<div class="tag">
				<h4>alcohol free</h4>
			</div>
			<div class="tag">
				<h4>cruelty free</h4>
			</div>
			<div class="tag">
				<h4>oil free</h4>
			</div>
			<div class="tag">
				<h4>purpicks</h4>
			</div>
			<div class="tag">
				<h4>silicone free</h4>
			</div>
			<div class="tag">
				<h4>water free</h4>
			</div>
		</p>
		<h3>Search through different categories..</h3>
		<p>
			<div class="tag">
				<h4>Powder</h4>
			</div>
			<div class="tag">
				<h4>Cream</h4>
			</div>
			<div class="tag">
				<h4>Pencil</h4>
			</div>
			<div class="tag">
				<h4>Liquid</h4>
			</div>
			<div class="tag">
				<h4>Gel</h4>
			</div>
			<div class="tag">
				<h4>Palette</h4>
			</div>
			<div class="tag">
				<h4>Countour</h4>
			</div>
			<div class="tag">
				<h4>Bb cc</h4>
			</div>
			<div class="tag">
				<h4>Concealer</h4>
			</div>
			<div class="tag">
				<h4>Mineral</h4>
			</div>
			<div class="tag">
				<h4>Highlighter</h4>
			</div>
			<div class="tag">
				<h4>Lipstick</h4>
			</div>
			<div class="tag">
				<h4>Lip Gloss</h4>
			</div>
			<div class="tag">
				<h4>Liquid</h4>
			</div>
			<div class="tag">
				<h4>Lip Stain</h4>
			</div>
			<div class="tag">
				<h4>Blush</h4>
			</div>
		</p>
        </div>

		<h5><center>Use the above tags if you donno what to search about</center></h5>

        {{>footer}}
    </body>
</html>
            {{!-- <table>
                <tr>
                    <td>
                        <img id="question-img"src="/img/questionMark.png" alt="">
                    </td>
                    <td>
                        <p>Stuck between what products to buy??</p>
                        <p>Don't worry ask us , we help you to decide within a wide range og collections</p>
                        <p>all you need to do is to go and search what you want</p>
                    </td>
                </tr>
            </table> --}}