<div class="navbar">

    <img id="abc"src="/img/questionMark.png" alt="">
    <h1 id="heading">Makex</h1>
    <div class="nav-top">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/search">Search</a>
    </div>
</div>